@charset "utf-8";
h1 {
    margin: 0;
    font-size: 0;
    width: 389px;
    height: 62px;
    background: #333;
}

.navbar-toggle {
    float: left;
    margin: 8px 0 8px 15px;
}

@media (min-width: 768px) {}