// out: ./style.css, sourcemap: fal, compress: false
@import "normalize.css";
@import "font-awesome.min.css";
@import "weather-icons.css";
@import "custom-scrollbar.css";
@import "default.less";
@import "layout.less";
@import "layout-pc.less";
@import "layout-mobile.less";
@import "main.less";
@import "main-pc.less";
@import "main-mobile.less";
@import "sub.less";
@import "sub-pc.less";
@import "sub-mobile.less";


.sub-detail {
  text-align:center;
  border-top: 1px solid @gray;
  background:@gray-lighter;
  padding:20px 0;
  p {
    margin:0;
    button {
      display:inline-block;
      padding:10px;
      border:none;
      color:@white-base;
      background:@blue;
      border-radius:10px;
      cursor:pointer;
    }
    span {
      display:inline-block;
      padding:10px;
      color:@white-base;
      background:@gray;
      border-radius:10px;
    }
  }
}


/* 문화컨텐츠 */

.culture {
  &.view {
    text-align:center;
    .container {
      text-align:left;
      padding:1.25rem;
      font-size:1.25rem;
      word-break:keep-all;
      line-height:1.6;
      h2 {
        font-size:2.5rem;
        margin:2.5rem 0;

      }
      strong {
        font-size:1.5rem;
        color:@blue;

      }

      img {
        max-width:100%;
        &[align=left] {
          margin:1.25rem;
          margin-left:0;
          margin-top:0;
          max-width:60%;
        }
        &[align=right] {
          margin:1.25rem;
          margin-right:0;
          max-width:50%;
        }
        &[align=center] {
          margin:1.25rem auto;
          margin-top:0;


        }

      }
      .btn-area {
        margin:20px 0;
        text-align:right;
        a {
          display:inline-block;
          padding:10px;
          color:@white-base;
          background:@gray-darker;
          border-radius:10px;
        }
      }


      /*각 페이지별 태그 들어갑니다.*/











    }
  }
  &.write {
    textarea {
      background:@white-base !important;
      border-bottom:none !important;

      &:focus {
        outline: none;
      }


    }
    .uploaded {
      background:@gray-lighter;
      padding:20px;
      img {
        max-width:100%;
      }
    }
  }
}
